*{
    box-sizing: border-box;
}
body{
    background: linear-gradient(to right, #0f0c29, #302b63, #24243e);
    color: #fff;
}
.row{
    display: flex;
    margin-left: -5px;
    margin-right: -5px;
}
.column{
    flex: 25%;
    padding: 10px;
}
table{
    border-collapse: collapse;
    /*background: #fff;*/
    color: #000;
    table-layout: fixed;
}
caption{
    padding: 10px;
    font-size: 18px;
    font-weight: bold;
}
th{
    font-weight: bold;
}
th, td{
    color: #fff;
}
.sunday{
    color: #ff0000;
}

.toogle-button{
    width: 100%;
    margin: 50px auto;
}
.light-mode{
    background: #fff;
    color: #000;
}
@media (prefers-color-scheme: light){
    th, td{
        color: #000;
    }
}
.toogle-button h3{
    text-align: center;
}
.toogle-button button{
    display: block;
    margin: 0 auto;
    outline: none;
    border-radius: 5px;
    font-size: 14px;
}
.dark{
    padding: 10px 20px;
    background-color: #191919;
    color: #fff;
}
.light{
    padding: 10px 20px;
    border: 2.5px solid #191919;
}
.dark:hover{
    background-color: #a7a3a3;
    color: #000;
    font-weight: 700;
}
.light:hover{
    background-color: #524f4f;
    color: #fff;
    font-weight: 700;
}

footer p{
    margin-top: 100px;
}
footer p span{
    color: #5583ee;
}

@media(max-width: 700px){
    .row{
        display: flex;
        flex-direction: column;
        margin: 0 auto;
    }
    .column{
        flex: 50%;
        width: 90%;
        margin: 0 auto;
        align-items: center;
        justify-content: center;
    }
}